body {
    padding-top: 80px;
}
nav {
    z-index: 1000; /* Adjust this value as needed */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px; /* Adjust this value to match your navbar height */
}

@media (max-width: 768px) {
  .timeline-end {
    display: flex;
    flex-wrap: wrap;
  } 
  .timeline-start {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse; /* Ensure tasks are above answers */
  }
  .timeline-box {
    margin-bottom: 1rem;
  }
  .grid {
    width: 100%;  /* Make cards take up full width on mobile */
  }
  .divider {
    display: none;  /* Hide the divider on mobile */
  }
  .card {
    flex-grow: 0; /* No horizontal growth on mobile */
  }
}