body {
    padding-top: 80px;
}
nav {
    z-index: 1000; /* Adjust this value as needed */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px; /* Adjust this value to match your navbar height */
}