

codapi-snippet {
    --toolbar-gap: 1em;
    --toolbar-margin-bottom: 1em;

    /* display: block; */
    position: relative;
    overflow: hidden;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    border-radius: var(--rounded-box, 1rem);
    padding-top: 1.25rem;
    

}

codapi-toolbar {
    flex-wrap: wrap;
   
    display: flex;
    width: 100%;
    grid-auto-flow: row;
    align-content: flex-start;
    align-items: center;
    justify-items: center;
    gap: 1rem;
    text-align: center;
    border-radius: var(--rounded-box, 1rem);
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: var(--fallback-b2, oklch(var(--b2)/var(--tw-border-opacity)));
    padding: 1rem;
    --tw-text-opacity: 1;
    color: var(--fallback-bc, oklch(var(--bc)/var(--tw-text-opacity)));
    --alert-bg: var(--fallback-b2, oklch(var(--b2)/1));
    --alert-bg-mix: var(--fallback-b1, oklch(var(--b1)/1));
    background-color: var(--alert-bg);
}

codapi-output {
    position: relative;
    display: inline-block;
    pre {
        background-color: #252525; /* Light background for better readability */
        padding: 1rem;
        border-radius: 0.5rem;
        overflow-x: auto; /* Enable horizontal scrolling for long lines */
        color: white;
      }
    
    /* Add some border and basic styling */
    border: 1px solid #a1a1a1;
    border-radius: 0.5rem;
    
}
codapi-output[hidden] {
    display: none;
}
codapi-output a[href="#close"] {
    position: absolute;
    top: 0.25em;
    right: 0.25em;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
}
codapi-status {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: .2s;
    height: 1.25rem;
    font-size: .875rem;
    line-height: 1.25rem;
    width: fit-content;
    padding-left: .563rem;
    padding-right: .563rem;
    border-radius: var(--rounded-badge, 1.9rem);
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: black; 
    --tw-bg-opacity: 1;
    background-color: var(--fallback-b1, oklch(var(--b1)/var(--tw-bg-opacity)));
    --tw-text-opacity: 1;
    color: black;
}