{% include python_modals/for_modal.html %}
{% include python_modals/range_modal.html %}
{% include python_modals/len_modal.html %}
{% include python_modals/input_modal.html %}
{% include python_modals/int_inp_modal.html %}
{% include python_modals/in_not_in_modal.html %}
{% include python_modals/if_else_modal.html %}
{% include python_modals/comments_modal.html %}
{% include python_modals/lower_upper_modal.html %}
{% include python_modals/while_modal.html %}
{% include python_modals/open_modal.html %}
{% include python_modals/read_modal.html %}
{% include python_modals/write_modal.html %}
{% include python_modals/quit_modal.html %}
{% include python_modals/append_modal.html %}
{% include python_modals/simple_f_string_modal.html %}

<dialog id="X_modal" class="modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg">X X X</h3>
        <p class="py-4">
            The <code class="text-accent">XXX()</code> function
            
        </p>
        <p>
            The input must be stored in a variable.
            <img src="https://file.notion.so/f/f/6aad50f9-a13b-4b77-a453-a36948b83e5d/abcf1d7b-981e-409f-831e-55eb84dec385/Untitled.png?id=4ac4784c-e13c-4f32-9a46-5947d3cddb52&table=block&spaceId=6aad50f9-a13b-4b77-a453-a36948b83e5d&expirationTimestamp=1716386400000&signature=UCp1kkt82l-Exlg0P4Hy0da0TmLNpiJNkgqE_-yfnbw&downloadName=Untitled.png" alt="">
            
            <!-- <div class="flex flex-row gap-1 flex-start space-y-1 ">
                <div class="basis-1/2 text-xs mr-1 mb-1">
                    <div class="mockup-window border bg-base-300">
                        <pre class=" bg-base-200">
                            <code>
xxx
                            </code>
                        </pre>
                    </div>
                </div>
                <div class="basis-1/2 text-xs">
                    <div class="mockup-code">
                        <pre data-prefix=">"><code>3
                            </code>
                        </pre>
                    </div>
                </div>
            </div> -->
            
        </p>
                   
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
</dialog>
