<dialog id="write_modal" class="modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg">Append</h3>
        <p class="py-4">
            The <code class="text-accent">append()</code> method is used to add data to a list.
            
        </p>
        <p>
            
            <div class="flex flex-row gap-1 flex-start">
                <div class="basis-1/2 text-xs mr-1 mb-1">
                    <div class="mockup-window border bg-base-300">
                        <pre class=" bg-base-200">
                            <code>
items = ["carrot","tomato"]
items.append("lettuce")
print(items)
                            </code>
                        </pre>
                    </div>
                </div>
                <div class="basis-1/2 text-xs">
                    <div class="mockup-code">
<pre data-prefix=">"><code>["carrot","tomato","lettuce"]</code></pre>
                    </div>
                </div>
            </div>
        The new item has now been added to the list of items.  
        </p>
                   
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
</dialog>
