<dialog id="basic_operators_modal" class="modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg">Basic Operators</h3>
        <p class="py-4">
            Python uses operators to perform mathematical operations.
        </p>
                
        <p>
            
            <div class="flex-start ">
                <div class="text-xs mr-1 mb-1">
                    <div class="mockup-window border bg-base-300">
                        <pre class="bg-base-200 px-4 pt-4">
<code class="language-python">print(2+2) # Addition
print(3-2) # Subtraction
print(2*2) # Multiplication
print(5+2) # Division
</code>
                        </pre>
                    </div>
                </div>
                <div class="text-xs">
                    <div class="mockup-code">
                        <pre data-prefix=">">4</pre>
                        <pre data-prefix=">">1</pre>
                        <pre data-prefix=">">4</pre>
                        <pre data-prefix=">">2.5</pre>
                    </div>
                </div>
            </div>
            
        </p>
                   
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
</dialog>
