<dialog id="casting_modal" class="modal">
    <div class="modal-box px-1">
        <h3 class="font-bold text-lg px-3">Casting</h3>
        <p class="py-4 px-3">
            Python can only handle one type of data at a time. Casting must be used in order to combine a second datatype.
            
<br><pre><code>str()</code></pre> converts data into a string datatype
<br><pre><code>int()</code></pre> converts data into a integer datatype
<br><pre><code>float()</code></pre> converts data into a real/float datatype

        </p>
        <p>
            
            <div class="flex flex-col gap-1 md:flex-row md:gap-1">
                <div class="basis-1/2 md:basis-full text-xs mr-1 mb-1">
                    <div class="mockup-window border bg-base-300">
                        <pre class="bg-base-200 px-1">
                            <code>
data_a = "Jessica"
data_b = 35
print(data_a + " is " + str(data_b) + " years old")
                            </code>
                        </pre>
                    </div>
                </div>
                <div class="basis-1/2 md:basis-full text-xs mr-1 mb-1">
                    <div class="mockup-code border">
                        <pre class="px-1">
                            <code>
Jessica is 35 years old
                            </code>
                        </pre>
                    </div>
                </div>
            </div>
            
        </p>
                   
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
</dialog>
