<dialog id="example_modal" class="modal">
  <div class="modal-box">
    
    <!--   Modal Heading   -->
    <h3 class="font-bold text-lg">clear screen</h3>
    
    <!--   Paragraph explaining Python skill concisely   -->
    <p class="py-4">
      The <code class="text-accent">clear()</code> function will clear the screen.
    </p>

    <!--   This paragraph contains example code and resulting output   -->
    <p>
    
    <!--    START OF PYTHON EDITOR MOCKUP WINDOW    -->
    <div class="flex-start ">
      <div class="text-xs mr-1 mb-1">
        <div class="mockup-window border bg-base-300">
          <pre class="bg-base-200 px-4 pt-4">

<!-- Your Python code goes here -->
<code class="language-python">
  import time #time is imported to see clear work
  import os
  numbers = [1, 2, 3, 4, 5]
  print(fruits)
  time.sleep(2)
  os.system('cls')
  time.sleep(1)
  print(fruits)
</code>
          </pre>
        </div>
      </div>
      <!--   END OF PYTHON EDITOR MOCKUP WINDOW    -->
      
      <!--   START OF OUTPUT MOCKUP WINDOW    -->
      <div class="text-xs">
        <div class="mockup-code">
          <!--  Python output goes here   -->
          <pre data-prefix=">">['apple', 'banana', 'cherry', 'orange']
      #clears soon after for one second
      ['apple', 'banana', 'cherry', 'orange']
      
      
</pre>
        </div>
      </div>
    </div>
    <!--   END OF OUTPUT MOCKUP WINDOW    -->
    </p>

  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
