<dialog id="comments_modal" class="modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg">Comments</h3>
        <p class="py-4">
            The <code class="text-accent">#</code> symbol creates a line that is ignored by Python.
            This is called a comment and can be used to describe the purpose of a block of code for clarity later.
            <br>
        </p>
        
        <p>
            
            <div class="flex-start ">
                <div class="text-xs">
                    <div class="mockup-window border bg-base-300">
                        <pre class="bg-base-200 px-4 pt-4">
<code class="language-python"># The line below asks for a user's age
age = int(input("What's your age?"))</code>
                        </pre>
                    </div>
                </div>
                <div class="text-xs">
                    <div class="mockup-code">
                        <pre data-prefix=">">What's your age?
                        </pre>
                    </div>
                </div>
            </div>
            
        </p>
<br>
        <p>
            Multiple comment lines can also be achieved by using either 3 single or 3 double quotes <br>
        </p>
        <p>
            
            <div class="flex-start ">
                <div class="text-xs mr-1 mb-1">
                    <div class="mockup-window border bg-base-300">
                        <pre class="bg-base-200 px-4 pt-4">
<code class="language-python">"""The line below asks 
for a user's age """
age = int(input("What's your age?"))

'''The line above asks 
for a user's age '''</code>
                        </pre>
                    </div>
                </div>
                <div class="text-xs">
                    <div class="mockup-code">
                        <pre data-prefix=">">What's your age?
                        </pre>
                    </div>
                </div>
            </div>
            
        </p>
        <p>
            <div role="alert" class="alert alert-info">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                <span>Comment a line/s by highlighting it and hit the <br> 
                    <kbd class="kbd kbd-sm">ctrl</kbd> + <kbd class="kbd kbd-sm">/</kbd> keys.
                </span>
            </div>
        </p>         
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
</dialog>