<dialog id="comments_modal" class="modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg">Comments</h3>
        <p class="py-4">
            The <code class="text-accent">#</code> symbol creates a line that is ignored by Python.
            This is called a comment and can be used to describe the purpose of a block of code for clarity later.
        </p>
        
        <p>
            
            <div class="flex flex-row gap-1 flex-start space-y-1 ">
                <div class="basis-1/2 text-xs mr-1 mb-1">
                    <div class="mockup-window border bg-base-300">
                        <pre class=" bg-base-200">
                            <code>
# The line below asks for a user's age
age = int(input("What's your age?"))

                            </code>
                        </pre>
                    </div>
                </div>
                <div class="basis-1/2 text-xs">
                    <div class="mockup-code">
                        <pre data-prefix=">"><code>What's your age?


                            </code>
                        </pre>
                    </div>
                </div>
            </div>
            
        </p>

        <p>
            Multiple comment lines can also be achieved by using either 3 single or 3 double quotes <br>
        </p>
        <p>
            
            <div class="flex flex-row gap-1 flex-start space-y-1 ">
                <div class="basis-1/2 text-xs mr-1 mb-1">
                    <div class="mockup-window border bg-base-300">
                        <pre class=" bg-base-200">
                            <code>
"""The line below asks 
for a user's age """
age = int(input("What's your age?"))

'''The line below asks 
for a user's age '''
age = int(input("What's your age?"))
                            </code>
                        </pre>
                    </div>
                </div>
                <div class="basis-1/2 text-xs">
                    <div class="mockup-code">
                        <pre data-prefix=">"><code>What's your age?





                            </code>
                        </pre>
                    </div>
                </div>
            </div>
            
        </p>
                   
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
</dialog>