<dialog id="div_mod_operators_modal" class="modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg">Div / Mod</h3>
        <p class="py-4">
            To perform integer and remainder divisions, Python uses the div (<code>//</code>) and mod (<code class="language-python">%</code>) operators.
        </p>
                
        <p>
            
            <div class="flex-start ">
                <div class="text-xs mr-1 mb-1">
                    <div class="mockup-window border bg-base-300">
                        <pre class="bg-base-200 px-4 pt-4">
<code class="language-python"># integer division (//) only returns a whole number
print(5//2)

# Remainder division (%) returns the remainder of a division
print(5%2) # 2 remainders of 0.5 --> so 1 in total
print(4%2) # --> 0
print(11%3) # --> 2
</code>
                        </pre>
                    </div>
                </div>
                <div class="text-xs">
                    <div class="mockup-code">
                        <pre data-prefix=">">2</pre>

                        <pre data-prefix=">">1</pre>
                        <pre data-prefix=">">0</pre>
                        <pre data-prefix=">">2</pre>
                    </div>
                </div>
            </div>
            
        </p>
                   
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
</dialog>
