<dialog id="elif_modal" class="modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg">else if / elif</h3>
        <p class="py-4">
            The <code class="text-accent">if</code> function selects code for execution 
            if a condition is met. If it is not met, the instruction nested under the 
            else block is executed.
            
        </p>
        <p>
                        
            <div class="flex-start ">
                <div class="text-xs mr-1 mb-1">
                    <div class="mockup-window border bg-base-300">
                        <pre class="bg-base-200 px-4 pt-4">
<code class="language-python">x = 10

if x > 5:
    print("x is greater than 5")
else:
    print("x is less than or equal to 5")</code>
                        </pre>
                    </div>
                </div>
                <div class="text-xs">
                    <div class="mockup-code">
                        <pre data-prefix=">">x is greater than 5
                        </pre>
                    </div>
                </div>
            </div>
            
        </p>
                   
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
</dialog>