<dialog id="for_modal" class="modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg">For Loops</h3>
        <p class="py-4">
            a <code class="text-accent">for</code> loop allows us to iterate a list of instructions for a specified number of times.
        </p>
        <div class="flex-start ">
            <div class="text-xs mr-1 mb-1">
                <div class="mockup-window border bg-base-300">
                    <pre class="bg-base-200 px-4 pt-4">
<code class="language-python">for <span class="text-accent">i</span> in range(3):
    print("hi")</code>
                </pre>
            </div>
            <div class="text-xs">
                <div class="mockup-code">
                    <pre>                  
    hi
    hi
    hi
                    </pre>
                </div>
            </div>
        </div>
        <br>
        <p>
            The <code class="text-accent">i</code> represents a local variable. <br>
            Imagine that the <code class="text-accent">i</code> stands for 
            <span class="text-accent">iteration</span>.
        </p>
        <p>
            The <code class="text-accent">i</code> can be replaced by another name such as 
            <code class="text-accent">x</code> or <code class="text-accent">word</code> or
            <code class="text-accent">name</code>.
        </p>
        <p>
            The only rule here is to not name the local variable with a variable already 
            used in your code or one that is a reservered word such as <code class="text-accent">print</code>
            or <code class="text-accent">for</code>.
        </p>
        <div class="flex-start ">
            <div class="text-xs mr-1 mb-1">
                <div class="mockup-window border bg-base-300">
                    <pre class="bg-base-200 px-4 pt-4">
<code class="language-python">for <span class="text-accent">number</span> in range(3):
    print(<span class="text-accent">number</span>)</code>
                    </pre>
                </div>
                <div class="text-xs">
                    <div class="mockup-code">
                        <pre>
  0
    1
    2
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>