<dialog id="X_modal" class="modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg">if / else</h3>
        <p class="py-4">
            The <code class="text-accent">if</code> function selects code for execution 
            if a condition is met. If it is not met, the instruction nested under the 
            else block is executed.
            
        </p>
        <p>
            The input must be stored in a variable.
            <img src="https://file.notion.so/f/f/6aad50f9-a13b-4b77-a453-a36948b83e5d/abcf1d7b-981e-409f-831e-55eb84dec385/Untitled.png?id=4ac4784c-e13c-4f32-9a46-5947d3cddb52&table=block&spaceId=6aad50f9-a13b-4b77-a453-a36948b83e5d&expirationTimestamp=1716386400000&signature=UCp1kkt82l-Exlg0P4Hy0da0TmLNpiJNkgqE_-yfnbw&downloadName=Untitled.png" alt="">
            
            <!-- <div class="flex flex-row gap-1 flex-start space-y-1 ">
                <div class="basis-1/2 text-xs mr-1 mb-1">
                        <pre>
                            <code>
    xxx
                            </code>
                        </pre>
                </div>
                <div class="basis-1/2 text-xs">
                    <div class="mockup-code">
                        <pre>
                            <code>
    3
                            </code>
                        </pre>
                    </div>
                </div>
            </div> -->
            
        </p>
                   
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
</dialog>