<dialog id="in_modal" class="modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg">In / Not In</h3>
        <p class="py-4">
            The <code class="text-accent">in</code> operator checks if a character from a string or 
            an element is in a list.
        </p>
        <p>
            
            <div class="flex flex-row gap-1 flex-start space-y-1 ">
                <div class="basis-1/2 text-xs mr-1 mb-1">
                        <pre>
                            <code>

items = ["carrot","tomato","lettuce"]
if "tomato" in items:
    print("List includes fruit")
else:
    print("No fruit in list")
                            </code>
                        </pre>
                </div>
                <div class="basis-1/2 text-xs">
                    <div class="mockup-code">
                        <pre data-prefix=">">
                            <code>
    List includes fruit
                            </code>
                        </pre>
                    </div>
                </div>
            </div>
            
        </p>
                   
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
</dialog>
