<dialog id="input_modal" class="modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg">input()</h3>
        <p class="py-4">
            The <code class="text-accent">input()</code> function
            pauses when executing the line of code for the user to enter an input.<br>
        </p>
        <p>
            The input must be stored in a variable.
            <img src="https://file.notion.so/f/f/6aad50f9-a13b-4b77-a453-a36948b83e5d/abcf1d7b-981e-409f-831e-55eb84dec385/Untitled.png?id=4ac4784c-e13c-4f32-9a46-5947d3cddb52&table=block&spaceId=6aad50f9-a13b-4b77-a453-a36948b83e5d&expirationTimestamp=1716386400000&signature=UCp1kkt82l-Exlg0P4Hy0da0TmLNpiJNkgqE_-yfnbw&downloadName=Untitled.png" alt="">
            
            <div class="flex-start ">
                <div class="text-xs mr-1 mb-1">
                    <div class="mockup-window border bg-base-300">
                        <pre class="bg-base-200 px-4 pt-4">
<code class="language-python">age = input("How old are you?\n>")</code>
                        </pre>
                    </div>
                </div>
                <div class="basis-1/2 text-xs mr-1 mb-1 ">
                    <div class="mockup-code">
                        <pre data-prefix=">">How old are you?
                        </pre>
                    </div>
                </div>
            </div>
            
        </p>
        
        <div role="alert" class="alert">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-info shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
            <span>
                The default datatype for an input is a string. 
                So anything that is saved in the variable after the input will be saved in 
                quotes <code>" "</code>
            </span>
        </div>
           
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
</dialog>