<dialog id="inp_int_modal" class="modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg">number input()</h3>
        <p class="py-4">
            The <code class="text-accent">input()</code> function
            can also be used to collect user responses as either integers or
            numbers with decimals.
        </p>
        <p>
            once the input is collected from the user, it is then cast into either a integer or 
            a float (a number with decimals).
            <img src="https://bitfez.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fc9b35af1-efeb-425a-ba0e-a1fdfd068508%2FUntitled.png?table=block&id=16caa8e9-5add-486f-8979-45c656ca79f7&spaceId=6aad50f9-a13b-4b77-a453-a36948b83e5d&width=2000&userId=&cache=v2">
            
            <div class="flex flex-row gap-1 flex-start space-y-1 ">
                <div class="basis-1/2 text-xs mr-1 mb-1">
                    <div class="mockup-code">
                        <pre>
                            <code>
    # This is an input for whole number (integer)                                
    age = int(input("Enter your age"))

    # This is an input for a floating point number (with decimals)
    shoe_size = float(input("Enter your shoe size"))

                            </code>
                        </pre>
                    </div>
                </div>
                <div class="basis-1/2 text-xs">
                    <div class="mockup-code">
    <pre data-prefix=">"><code>Enter your age</code></pre>
    <pre data-prefix=">"><code>14</code></pre>

    <pre data-prefix=">"><code>Enter your shoe size</code></pre>
    <pre data-prefix=">"><code>8.5</code></pre>
                    </div>
                </div>
            </div>
            
        </p>
                   
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
</dialog>