<dialog id="len_modal" class="modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg">len()</h3>
        <p class="py-4">
            The <code class="text-accent">len()</code> evaluates how big an object is. <br>
        </p>
        <p>
            In this case of a string, this is how many characters.
            <div class="flex-start ">
                <div class="text-xs mr-1 mb-1">
                    <div class="mockup-window border bg-base-300">
                        <pre class="bg-base-200 px-4 pt-4">
<code class="language-python">text = "fez"
len_of_text = <span class="text-accent">len</span>(text)
print(len_of_text)</code>
                        </pre>
                    </div>
                </div>
                <div class="text-xs">
                    <div class="mockup-code">
                        <pre>3</pre>
                    </div>
                </div>
            </div>
            
        </p>
        <p>
            In the case of a list, it is how many elements there are in the list.
            <div class="flex-start ">
                <div class="text-xs mr-1 mb-1">
                    <div class="mockup-window border bg-base-300">
                        <pre class="bg-base-200 px-4 pt-4">
<code class="language-python">myList = ["fez", "code"]
len_of_list = <span class="text-accent">len</span>(myList)
print(len_of_list)</code>
                        </pre>
                    </div>
                </div>
                <div class="text-xs">
                    <div class="mockup-code">
                        <pre>2</pre>
                    </div>
                </div>
            </div>
        </p>
        
        <p>
           
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
</dialog>