<dialog id="len_modal" class="modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg">len()</h3>
        <p class="py-4">
            The <code class="text-accent">len()</code> evaluates how big an object is. <br>
        </p>
        <p>
            In this case of a string, this is how many characters.
            <div class="flex flex-row gap-1 flex-start space-y-1 ">
                <div class="basis-1/2 text-xs mr-1 mb-1">
                        <pre>
                            <code>


text = "fez"
len_of_text = <span class="text-accent">len</span>(text)
print(len_of_text)
                            </code>
                        </pre>
                </div>
                <div class="basis-1/2 text-xs">
                    <div class="mockup-code">
                        <pre>
                            <code>
    3
                            </code>
                        </pre>
                    </div>
                </div>
            </div>
            
        </p>
        <p>
            In the case of a list, it is how many elements there are in the list.
            <div class="flex flex-row gap-1 flex-start space-y-1 ">
                <div class="basis-1/2 text-xs mr-1 mb-1">
                        <pre>
                            <code>


myList = ["fez", "code"]
len_of_list = <span class="text-accent">len</span>(myList)
print(len_of_list)
                            </code>
                        </pre>
                </div>
                <div class="basis-1/2 text-xs">
                    <div class="mockup-code">
                        <pre>
                            <code>
    2
                            </code>
                        </pre>
                    </div>
                </div>
            </div>
        </p>
        
        <p>
           
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
</dialog>