<dialog id="lost_modal" class="modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg">Lost Modal</h3>
        <p class="py-4">
            This modal is lost. check back later to see if we've found it. <br>
        </p>
        <div class="flex justify-center">
            <img width="300px" src="/assets/lost-item.jpg" alt="">
        </div>
        </p>
            My people are working on this!
        <p>
           
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
</dialog>