<dialog id="lower_upper_modal" class="modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg">lower / upper</h3>
        <p class="py-4">
            The <code class="text-accent">lower()</code> function converts all alphanumeric characters into lowercase
            <br>
        </p>
        <p>
            
            <div class="flex-start ">
                <div class="text-xs mr-1 mb-1">
                    <div class="mockup-window border bg-base-300">
                        <pre class="bg-base-200 px-4 pt-4">
<code class="language-python">name = "CodeFez"
print(name.lower())</code>
                        </pre>
                    </div>
                </div>
                <div class="text-xs">
                    <div class="mockup-code">
                        <pre data-prefix=">">codefez
                        </pre>
                    </div>
                </div>
            </div>
            
        </p>

        <p class="py-4">
            The <code class="text-accent">upper()</code> function converts all alphanumeric characters into uppercase
            <br>
        </p>
        <p>
            
            <div class="flex-start ">
                <div class="text-xs mr-1 mb-1">
                    <div class="mockup-window border bg-base-300">
                        <pre class="bg-base-200 px-4 pt-4">
<code class="language-python">name = "CodeFez"
print(name.upper())
                        </pre>
                    </div>
                </div>
                <div class="text-xs ">
                    <div class="mockup-code">
                        <pre data-prefix=">">CODEFEZ</pre>
                    </div>
                </div>
            </div>
            
        </p>
                   
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
</dialog>
