<dialog id="print_modal" class="modal">
    <div class="modal-box px-1">
        <h3 class="font-bold text-lg px-3">Print</h3>
        <p class="py-4 px-3">
            <code class="text-accent">print()</code> is a Python function for displaying text on the screen.
            Anything between the parenthesis is <i>printed</i> on the screen. <br>
            <br>However! Python can only handle one datatype at a time. 
            (see 
            <button class="btn btn-primary btn-xs mb-1" onclick="casting_modal.showModal()">casting</button>
             or <button class="btn btn-primary btn-xs mb-1" onclick="simple_f_string_modal.showModal()">f-strings 1</button>
              for more info) <br>
            You can print any datatype. 
        </p>
        <p>
            
            <div class="flex-start ">
                <div class="text-xs mr-1 mb-1">
                    <div class="mockup-window border bg-base-300">
                        <pre class="bg-base-200 px-4 pt-4">
<code class="language-python">print("Hello world!")
print(2+2) # calculates a result!</code>
                        </pre>
                    </div>
                </div>
                <div class="text-xs">
                    <div class="mockup-code">
                        <pre>Hello World!
  4
                        </pre>
                    </div>
                </div>
            </div>
            
        </p>
                   
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
</dialog>
