<dialog id="print_modal" class="modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg">Print</h3>
        <p class="py-4">
            <code class="text-accent">print()</code> is a Python function for displaying text on the screen.
            Anything between the parenthesis is <i>printed</i> on the screen. <br>
            However! Python can only handle one datatype at a time. (see casting or f-strings for more info) <br>
            You can print any datatype. 
        </p>
        <p>
            
            <div class="flex flex-col gap-1 md:flex-row md:gap-1">
                <div class="basis-1/2 md:basis-full text-xs mr-1 mb-1">
                    <div class="mockup-window border bg-base-300">
                        <pre class="bg-base-200 px-1">
                            <code>
                                print("Hello world!")
                                print(2+2) # calculates a result!
                                
                            </code>
                        </pre>
                    </div>
                </div>
                <div class="basis-1/2 md:basis-full text-xs mr-1 mb-1">
                    <div class="mockup-window border bg-base-300">
                        <pre class="bg-base-200">
                            <code>
                                Hello World!
                                4
                            </code>
                        </pre>
                    </div>
                </div>
            </div>
            
        </p>
                   
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
</dialog>
