<dialog id="split_modal" class="modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg">split</h3>
        <p class="py-4">
            The <code class="text-accent">split()</code> method will seperate items in a string.
        </p>
                
        <p>
            
            <div class="flex-start ">
                <div class="text-xs mr-1 mb-1">
                    <div class="mockup-window border bg-base-300">
                        <pre class="bg-base-200 px-4 pt-4">
<code class="language-python">string = "Superman,Clark Kent,can fly,super strength"
print(string)
name,alias,power1,power2 = split(",")
print(f"{name} is also known as {alias} and has the 
        powers {power1} and {power2}.")</code>
                        </pre>
                    </div>
                </div>
                <div class="text-xs">
                    <div class="mockup-code">
                        <pre data-prefix=">">Superman,Clark Kent,can fly,super strength</pre>
                        <pre data-prefix=">">Superman is also known as Clark Kent and has the powers can 
       fly and super strength.
                        </pre>
                    </div>
                </div>
            </div>
            
        </p>
                   
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
</dialog>
